//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////

@function find($map, $key, $variant: null) {
	$item: map-get($map, $key);
	@if $variant {
		@if type-of($item) == map {
			$item: map-get($item, $variant);
		}@else if type-of($item) == list {
			$item: nth($item, $variant);
		}
	}
	@return $item;
}

@function size($key, $variant: null) {
	@return find($sizes, $key, $variant);
}

@function font($key, $variant: null) {
	@return find($fonts, $key, $variant);
}

@function line($key, $variant: null) {
	@return find($lines, $key, $variant);
}

@function layer($key, $variant: null) {
	@return find($layers, $key, $variant);
}

@function color($key, $variant: 1) {
	@return find($colors, $key, $variant);
}

@function break($key, $variant: null) {
	@return find($breakpoints, $key, $variant);
}

@function typography($key, $variant: null) {
	@return find($typography, $key, $variant);
}
