$font-ratio: 1.9;
$baseline-ratio: 1.5;
$font-size: 16;

$base-font-size: $font-size/16;
$base-line-height: $base-font-size * $baseline-ratio;

@import './math.scss';
@import './helpers.scss';
@import './library.scss';
@import './breakpoints.scss';

//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////

@mixin output($props, $defaults: false) {

	@if type-of($defaults) == map {
		$props: map-merge($defaults, $props);
	}

	// Conditionals
	@each $prop, $style in $props {
		@if(type-of($style) != map) {
			#{$prop} : $style;
		}
	}
}

@mixin type($type, $overrides: null) {
	@if $overrides and type-of($overrides) == map {
		@include output($overrides, typography($type));
	} @else {
		@include output(typography($type));
	}
}
