@import "../../../sassafras/index.scss";

.sketchpad {
	width: 100%;
	min-height: 100%;
	position: relative;
	cursor: pointer;
	color: black;

	.sketchpad-title,
	.sketchpad-confirm {
		text-transform: lowercase;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		text-align: center;
		transform: translate(-50%, -50%);
		display: block;
		z-index: -1;

		&.deactive {
			display: none;
		}
	}
}

.sketchpad-canvas {
	width: 100%;
	height: 100%;
	user-select: none;

	&.deactive {
		background-image: none;
	}
}

.sketchpad-toolbelt {
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;

	&.active {
		display: block;
	}

	button, a {
		@include type(h4);
		text-transform: uppercase;
		letter-spacing: line(xxs);
		color: black;
		background-color: transparent;
		padding: size(xxs) size(xs);
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		&:last-child {
			&:hover {
				font-weight: 500;
			}
		}

		&:first-child {
			opacity: .5;
			border: 0;

			&:hover {
				opacity: 1;
			}

			&::before {
				content: '[ ';
			}

			&::after {
				content: ' ]';
			}
		}

		> *:first-child {
			margin-right: size(s);
		}
	}
}
