@import url("");
* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

#root {
  height: 100%; }

.sketchpad {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: crosshair;
  color: black; }
  .sketchpad.active .sketchpad-onboard {
    display: none; }

.sketchpad-canvas {
  width: 100%;
  flex: 1;
  user-select: none;
  position: relative;
  z-index: 1; }

.sketchpad-onboard {
  padding: 1.125rem;
  width: 100%;
  position: absolute;
  top: 0; }

.sketchpad-controls {
  display: flex;
  align-items: center;
  padding: 1.125rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1; }
  .sketchpad-controls > * {
    margin-right: 1.125rem; }
    .sketchpad-controls > *:last-child {
      margin-right: 0; }
  .sketchpad-controls.inactive {
    display: none; }

.button-download,
.button-clear {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  padding: 0.5625rem 1.125rem;
  border: 1px solid #4d4d4d; }

.button-download {
  background-color: #fcfcfc; }

input {
  -webkit-appearance: none;
  border: 1px solid #4d4d4d;
  height: 1.875rem; }
  input:focus {
    outline: none; }

input[type='color'] {
  background-color: transparent;
  width: 1.875rem;
  padding: 0; }

input[type='number'] {
  padding: 0 1.125rem; }
