@import "../sassafras/index.scss";

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

#root {
	height: 100%;
}

.sketchpad {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	cursor: crosshair;
	color: black;

	&.active {
		.sketchpad-onboard {
			display: none;
		}
	}
}

.sketchpad-canvas {
	width: 100%;
	flex: 1;
	user-select: none;
	position: relative;
	z-index: 1;
}

.sketchpad-onboard {
	padding: size(m);
	width: 100%;
	position: absolute;
	top: 0;
}

.sketchpad-controls {
	display: flex;
	align-items: center;
	padding: size(m);
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;

	> * {
		margin-right: size(m);
		&:last-child {
			margin-right: 0;
		}
	}

	&.inactive {
		display: none;
	}
}

.button-download,
.button-clear {
	@include type(p);
	padding: size(xxs) size(m);
	border: line(xxs) solid color(neutral, 3);
}

.button-download {
	background-color: color(primary, 1);
}

.button-clear {

}

input {
	-webkit-appearance: none;
	border: line(xxs) solid color(neutral, 3);
	height: size(xl);
	&:focus {
		outline: none;
	}
}

input[type='color'] {
	background-color: transparent;
	width: size(xl);
	padding: 0;
}

input[type='number'] {
	padding: 0 size(m);
}
